body {
    font-size: 16px;
}
.table.nowrap th, .table.nowrap td {
    white-space: nowrap;
}

.timeline-item p {
    margin: 0;
    text-indent: 2rem;
}

.dropdown-menu li .action {
    color: #777;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown-menu li .action:hover {
    background-color: #e1e3e9;
    color: #333;
}

select.form-control.dark {
    background-color: #374850;
    color: #999;
    border-radius: 2px;
    border: none;
}
select.form-control.dark:focus,select.form-control.dark:active {
    background-color: #eeeeee;
    color: #000;
}

.-search-form {
    border: none !important;
}

.-search-form > label {
    display: block;
    margin-top: 2px;
    margin-bottom: 6px;
}

.no-border {
    border: none !important;
}

.dark-addon {
    background-color: #2c3e46 !important;
    color: #999;
}

.mtop2 {
    margin-top: 2px;
}

.pixel-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    margin: 0;
    padding: 0;
    border: none;
}

input[type="date"]:invalid,
input[type="time"]:invalid {
    outline: red 2px groove;
}
