{% extends "master.html.twig" %}

{% set title = 'Chat Context' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Chat Context</h3>
                </div>
                <div class="box-body">
                    <p>This is primarily meant as a dev tool and is not the most user friendly. To get a chat cmid, either report a message or grab it from dev tools (right click -> inspect element on a chat message, then go up the tree until you find the associated &lt;li&gt; element, then copy the data-cmid's value)</p>
                    <label>Message ID: <input type="text" id="cmid"></label>
                    <button id="btnSubmit">Submit</button>
                    <ul id="chat-context"></ul>
                    <button id="btnBack" data-cmid="0">Back</button>
                    <button id="btnForward" data-cmid="0">Forward</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datatables/extensions/Scroller/js/dataTables.scroller.js"></script>
    <script type="text/javascript">
        (function() {
            const searchParams = new URLSearchParams(location.search.slice(1));

            const cmidInp = document.getElementById('cmid');
            document.getElementById('btnSubmit').onclick = function() {
                const cmid = cmidInp.value;
                searchParams.set('cmid', cmid);
                history.replaceState(null, '', `?${searchParams.toString()}`)
                doPost(cmid);
            };
            document.getElementById('btnBack').onclick = function() {
                doPost(this.dataset.cmid);
            };
            document.getElementById('btnForward').onclick = function() {
                doPost(this.dataset.cmid);
            };

            function doPost(cmid) {
                $.post('/chatContext', {cmid}, function(data) {
                    if (!data || !data.success) {
                        alert('failed to post');
                        console.error(data, this);
                    } else {
                        if (!data.data.length) {
                            alert('no context found');
                        } else {
                            let ctx = $("#chat-context");
                            ctx.empty();
                            for (let i = 0; i < data.data.length; i++) {
                                let x = data.data[i];
                                let time = `[${moment.unix(x.sent >> 0).tz("Europe/Berlin").format('MM.DD.YYYY HH:mm:ss')}] `;
                                let content = document.createElement('span'); //jQuery parses strings into HTML so have to use basic dom generation
                                content.textContent = x.content;
                                ctx.append(
                                    $("<li>")
                                        .attr("data-cmid", x.id)
                                        .append(time)
                                        .append($("<strong>").text(x.author_name + ': '))
                                        .append(content)
                                        .css(x.id >> 0 === cmid >> 0 ? {'backgroundColor': 'rgba(255,245,9,0.3)'} : {})
                                )
                            }
                            document.getElementById('btnBack').dataset.cmid = data.data[0].id;
                            document.getElementById('btnForward').dataset.cmid = data.data[data.data.length-1].id;
                        }
                    }
                }).fail(console.error);
            }

            if (searchParams.has('cmid')) {
                try {
                    const cmid = parseInt(searchParams.get('cmid'));
                    cmidInp.value = cmid;
                    doPost(cmid);
                } catch (ex) {}
            }
        })();
    </script>
{% endblock %}
